# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request: {}

jobs:
  build:
    
    strategy:
      matrix:
        python-version: [3.8]
        java: [11] # [11, 13]
        os: ['ubuntu-latest'] # ['ubuntu-latest', 'macOs-latest', 'windows-latest']
        architecture: ['x64']
        terrier: ['snapshot']

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Setup java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        architecture: ${{ matrix.architecture }}


    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        #install this software
        pip install --timeout=120 .
        pip install pytest

    - name: All unit tests
      env:
        TERRIER_VERSION: ${{ matrix.terrier }}
      run: |
        pytest
