# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        python-version: [3.8, 3.9, 3.11]
        java: [11, 17, 21]
        os: ['ubuntu-latest'] # ['ubuntu-latest', 'macOs-latest', 'windows-latest']
        architecture: ['x64']
        terrier: ['snapshot']

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
        architecture: ${{ matrix.architecture }}

    - name: Install Terrier snapshot
      if: matrix.terrier == '5.4-SNAPSHOT'
      run: |
        git clone https://github.com/terrier-org/terrier-core.git
        cd terrier-core
        mvn -B -DskipTests install

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        #install this software
        pip install --timeout=120 .
        pip install pytest

    - name: All unit tests
      env:
        TERRIER_VERSION: ${{ matrix.terrier }}
      run: |
        pytest

  test_minimal_transformers_version:
    strategy:
      matrix:
        python-version: [3.8]
        java: [11]
        os: ['ubuntu-latest'] # ['ubuntu-latest', 'macOs-latest', 'windows-latest']
        architecture: ['x64']
        terrier: ['snapshot']

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
        architecture: ${{ matrix.architecture }}

    - name: Install Terrier snapshot
      if: matrix.terrier == '5.4-SNAPSHOT'
      run: |
        git clone https://github.com/terrier-org/terrier-core.git
        cd terrier-core
        mvn -B -DskipTests install

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        #install this software
        pip install --timeout=120 .
        pip install pytest
        pip install pypi-timemachine
        pypi-timemachine 2020-10-01 # transformers Version 4.0.0
        pip install --upgrade --force-reinstall --index-url http://127.0.0.1:5000/ "transformers==4.0.0"
    
    - name: Assert transformers version
      run: |
        python -c "import transformers; assert transformers.__version__ == '4.0.0', f'Expected version 4.0.0, but got {transformers.__version__}'"

    - name: All unit tests
      env:
        TERRIER_VERSION: ${{ matrix.terrier }}
      run: |
        pytest

